* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
    background-color: rgb(250, 250, 250);
    line-height: 1.6;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
    background-image: url("../images/header1.jpg");
    background-size: cover;
    min-height: 45vh;
    background-position: center;
    color: white;
    font-size: 2rem;
}

nav {
    background-color: rgb(190, 130, 80);
    width: 100%
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 4rem;
    padding: 0.7rem;
}
nav li {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}
nav li:hover {
    color: rgb(10, 80, 255);
    cursor: pointer;
}
main {
    padding: 0.7rem 1rem;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.card-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:320px;
}
.card {
    width: 320px;
    height: 320px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h2 {
    margin: 0;
    font-size: 6rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 4px #000000;
}
.caption {
    width: 100%;
    margin-top: 0.6rem;
}
.eat {
    background-image: url("../images/stickyrice.jpg");
}
.pray {
    background-image: url("../images/pray.jpg");
}
.enjoy {
    background-image: url("../images/enjoy.jpg");
}

@media (max-width: 900px)  {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}