* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
    background-color: rgb(250, 250, 250);
    line-height: 1.6;
}
