* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
    background-color: rgb(250, 250, 250);
    line-height: 1.6;
}
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
    background-image: url("../images/header1.jpg");
    background-size: cover;
    height: 40vh;
    background-position: 50% 40%;
    color: white;
    font-size: 2rem;
}