* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
    background-color: rgb(250, 250, 250);
    line-height: 1.6;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 4rem;
    padding-top: 9rem;
    background-image: url("../images/header.jpg");
    background-size: cover;
    min-height: 93vh;
    background-position: center;
    color: white;
    font-size: 2rem;
}
h1 {
    font-size: 4 rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(255, 250, 240);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

nav {
    background-color: rgb(190, 130, 80);
    width: 100%
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
}
nav li {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}
nav li:hover {
    color: rgb(10, 80, 255);
    cursor: pointer;
}
.page-bg {
    background-size: cover;
    background: linear-gradient(rgba(255,255,255, 0.3), rgba(180, 210, 230, 0.5)), url("../images/main1.jpg");
    background-position: 40% 10%;

}
main {
    padding: 2rem 1rem;
    margin: 0 auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.card-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:320px;
}
.card {
    width: 320px;
    height: 320px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h2 {
    margin: 0;
    font-size: 6rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 4px #000000;
}
.caption {
    width: 100%;
    margin-top: 0.6rem;
}
.eat {
    background-image: url("../images/food.jpg");
}
.pray {
    background-image: url("../images/pray.jpg");
}
.enjoy {
    background-image: url("../images/enjoy.jpg");
}
footer {
    text-align: center;
    padding: 1rem;
    color: rgb(90, 60, 40);

}
footer strong {
    color: rgb(42, 89, 120);
}


@media (max-width: 900px)  {
    .cards {
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: bottom;
    }
    header h1 {
        font-size: 3rem;
    }
    header {
        align-items: center;
        padding-right: 0;
    }
}